.header{
    margin-bottom: 40px;
    align-items: center;
    &-item{
        margin-left: 10px;
    }
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid black;
    padding: 3px;
    text-align: center;
    width: 16.6%;
    height: 50px;
}

th {
    font-weight: bold;
    background-color: #E6E6E6;
}

.delete{
    cursor: pointer;
    display: inline-block;
    margin-left: 10px;
}


